@charset  'UTF-8';

* {
  margin: 0;
  padding: 0;
}

.fundo {
    background-image: linear-gradient(45deg, rgb(10, 8, 8), rgb(10, 10, 112));
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(29, 29, 29);
}

.botaonum {
    width: 50px;
    height: 50px;
    color: white;
    background-color: rgb(56, 56, 56);
    font-size: 1em;
    border: none;
}

.botaonum:hover {
    background-color: rgb(39, 39, 39);
}

.botao {
    width: 50px;
    height: 50px;
    color: white;
    background-color: rgb(39, 39, 39);
    font-size: 1em;
    border: none;
}

.botao:hover {
    background-color: rgb(56, 56, 56);
}

.zero {
    width: 104px;
    height: 50px;
    color: white;
    background-color: rgb(56, 56, 56);
    font-size: 1em;
    border: none;
}

.zero:hover {
    background-color: rgb(39, 39, 39);
}

.igual {
    width: 50px;
    height: 106px;
    color: white;
    background-color: rgb(90, 90, 90);
    font-size: 1em;
    border: none;
}

.igual:hover {
    background-color: rgb(70, 70, 70);
}